:root {
    --maintext-color: teal;
    --secondtext-color: #606470;
    --border-color: rgb(4, 232, 249);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondtext-color);
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondtext-color);
    margin: 0;
    padding: 0 10px 0 60px;
    background-color: var(--maintext-color);
}

header nav ul {
    color: var(--maintext-color);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    list-style: none;
    text-decoration: underline solid 3px;
    text-underline-offset: 4px;
}

header nav ul a {
    padding: 10px  50px 15px 0;
    font-size: 1.2vw;
}

.hero {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 120px;
    background-image: url("../images/01DF3445-C17C-478A-9E20-FA311FBEB047_1_105_c.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    align-items: flex-start;
}

.hero h2 {
    font-size: 25px;
    color: var(--secondtext-color);
    background-color: var(--maintext-color);
    padding: 10px;
    
}

.about {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--maintext-color);
    padding: 20px 0 0 0px;
}

.about h2, .work-section h2{
    color: var(--secondtext-color);
    font-size: 40px;
    border-right: 3px solid var(--secondtext-color);
    padding: 0 10px 0 100px;
    justify-content: flex-end;
}

.about div p {
    padding: 0 20px 0 50px;
    color: var(--secondtext-color);
    margin: 50px 200px 0 0;
    align-items: center;
}

.work-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.work-section div {
    padding: 25px 100px 25px 100px ;
    margin: 50px 10px 10px 10px;
    border: 5px solid var(--border-color);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    border: none;
    justify-content: center;

}
