:root {
    --maintext-color: teal;
    --secondtext-color: #606470;
    --border-color: rgb(4, 232, 249);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* header styles */
header {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondtext-color);
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondtext-color);
    margin: 0;
    padding: 0 10px 0 60px;
    background-color: var(--maintext-color);
}
/* navigation styles */
header nav ul {
    color: var(--maintext-color);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    list-style: none;
    text-decoration: underline solid 3px;
    text-underline-offset: 4px;
}

header nav ul a, .contact div ul a {
    padding: 10px  50px 15px 0;
    font-size: 1.2vw;
}
/* hero styles */
.hero {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 120px;
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    align-items: flex-start;
}

.hero h2 {
    font-size: 25px;
    color: var(--secondtext-color);
    background-color: var(--maintext-color);
    padding: 10px;
    
}
/* about me section styles */
.about {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--maintext-color);
    padding: 20px 0 0 0px;
}

.about>*:first-child {
    align-self: stretch;
}
/* h2 header styles */
.about h2, .work-section h2, .contact h2 {
    color: var(--secondtext-color);
    font-size: 40px;
    border-right: 3px solid var(--secondtext-color);
    padding: 0 10px 0 100px;
    justify-content: flex-start;
}

.about div p {
    padding: 0 20px 0 60px;
    color: var(--secondtext-color);
    margin: 50px 200px 0 0;
    align-items: center;
}
/* work section styles */
.work-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.work-section>*:first-child {
    align-self: stretch;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 50px 25px 60px ;
    margin: 50px 10px 10px 10px;
    flex: 1;
}

.project-box {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border: 5px solid var(--border-color);
    margin: 0 10px 10px 10px;
    padding: 50px 50px 25px 0 ;
    text-align: left;
    height: 100%;
}
/* makes first flexbox whole width of page */
.project-box:first-child {
    width: 100%;
}

.project-box:not(:first-child) {
    flex: 1;
}
/* flexbox background image styles */
.project-box.photo1 {
    background-image: url(../images/RunBuddy.png);
    background-position: center;
    background-size: cover;
}

.project-box.photo2 {
    background-image: url(../images/Horiseon-screenshot.png);
    background-position: center;
    background-size: cover;
}

.project-box.photo3 {
    background-image: url(../images/robots.png);
}

.project-box.photo4 {
    background-image: url(../images/ArcGISOnline.png);
}

.project-box.photo5 {
    background-image: url(../images/vegplots.jpeg);
}

.project-text {
    margin: 0;
    background-color: var(--border-color);
    padding: 10px;
    text-decoration: none;

}

.project-text h3 {
    font-size: 15px;
}

.project-text p {
    font-size: 10px;
}
/* contact styles */
.contact {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
}

.contact>*:first-child {
    align-self: stretch;
    
}
/* contact link styles */
.contact div ul {
    color: var(--maintext-color);
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    text-decoration: underline solid 3px;
    text-underline-offset: 4px;
    margin: auto;
    padding: 38px;
    width: 100%;
}